<div class="app_main">
	<h1>calendar Component for Angular</h1>
	<div class="row">
		<div class="col-md-12">
			<h2>显示日程安排</h2>
			<e-ngx-calendar [schedules]="schedules"
								  (onAddSchedule)="onAddSchedule($event)"
								  (onViewAllSchedule)="onViewAllSchedule($event)"
								  (onViewSchedule)="onViewSchedule($event)"
								  (dateChange)="onDateChange($event)">
			</e-ngx-calendar>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>不显示日程安排</h2>
			<e-ngx-calendar (dateChange)="onDateChange($event)"></e-ngx-calendar>
		</div>
	</div>
</div>
